*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, 
.default {
  background: url('./images/noaa_optimized.jpg');
  background-size: cover;
  background-position: 50% 22.5%;
  background-repeat: no-repeat;
}

.rain{
  background: url('./images/rain_optimized.jpg');
  background-size: cover;
  background-position: 50% 22.5%;
  background-repeat: no-repeat;
}

.clouds{
  background: url('./images/clouds_optimized.jpg');
  background-size: cover;
  background-position: 50% 22.5%;
  background-repeat: no-repeat;
}

.fog{
  background: url('./images/fog_optimized.jpg');
  background-size: cover;
  background-position: 50% 22.5%;
  background-repeat: no-repeat;
}

.clear{
  background: url('./images/clear_optimized.jpg');
  background-size: cover;
  background-position: 50% 22.5%;
  background-repeat: no-repeat;
}

.snow{
  background: url('./images/snow_optimized.jpg');
  background-size: cover;
  background-position: 50% 22.5%;
  background-repeat: no-repeat;
}

.weather-wrap{
  margin: 0 auto;
  background: rgba(83, 81, 81, 0.699);
  width: 70%;
  min-height: 20em;
  padding: .7rem;
  border-radius: 15px;
  color: whitesmoke;
}

.filler{
  font-size: 3rem;
  text-align: justify;
  margin: 2.5rem 0 0 0;
}

.header-wrap{
  padding: .7rem;
  display: flex;
  justify-content: center;
  min-height: 7em;
  input{
    outline: none;
    border: none;
    border-radius: 10px;
    width: 50%;
    height: 2em;
    font-size: 1.7rem;
    padding: .5rem;
  }
  button{
    font-size: 1.7rem;
    margin: .2rem .7rem;
  }
}

.modal-wrap{
  position: relative;
  width: 15%;
}

.modal{
  position: absolute;
  top: 60%;
  background: rgba(111, 112, 112, 0.842);
  padding: .5rem;
  border-radius: 10px;
  color: whitesmoke;
}

.modal-item{
  display: flex;
  justify-content: space-between;
  width: 100%;
  button{
    font-size: 1.3rem;
  }
}

.head{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.title{
  font-size: 4rem;
}

.sub-title{
  font-size: 1.3rem;
  display: flex;
  flex-flow: row wrap;
}

.content-wrap{
  display: flex;
  justify-content: space-around;
  img{
    width: 12em;
    height: 12em;
  }
  h1{
    padding: .5rem;
    font-size: 7rem;
  }
  .details-wrap{
    padding: .5rem;
    font-size: 1.7rem;
  }
}

.btn{
  padding: .5rem;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
}
.danger{
  background: rgb(212, 132, 132);
}

.primary{
  background: rgb(127, 154, 243);
}

.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.7rem;
  width: 1.7rem;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.7rem);
  -ms-transform: translateX(1.7rem);
  transform: translateX(1.7rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}